h1 {
  font-size: 2.5rem;
  color: pink;
  text-align: center;
  font-weight: bold;
}

.page-title {
  font-size: 2.5rem; 
  color: #e91e63; 
  text-align: center;
  margin-top: 40px; 
  font-weight: bold; 
}

nav {
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

button {
  background-color: pink;
  color: rgb(253, 253, 253);
  padding: 10px 15px;
  border: 1px solid pink;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

button:hover {
  background-color: #ff4e0364;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: pink;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  padding: 20px;
}

.task-card {
  width: 200px;
  height: 300px;
  margin-top: 5px;
  background-color: #f8bbd0; 
  border: 1px solid #e91e63; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;  
  text-align: center;
  transition: transform 0.3s ease;
}

.task-card:hover {
  transform: scale(1.05); 
}

.task-card h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}

.task-actions {
  margin-top: 10px;
}

button {
  background-color: yellow;
  color: rgba(255, 0, 85, 0.422);
  font-weight: bolder;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-content:flex-end;
}




